@model VocaDb.Model.DataContracts.Songs.SongContract

<tr>
	<td>
		@Html.ActionLink(Model.Name, "Details", new { id = Model.Id })
	</td>
	<td>
		<a href="#" class="removeSongLink" id="@("removeSong_" + Model.Id)" />
	</td>
</tr>