@using System.Web.Mvc
@using System.Web.Mvc.Html
@inherits VocaDb.Web.Code.HelperPage
			  
@helper ReportEntryPopup(MvcHtmlString reportTypesDropdown) {
	
<div id="reportEntryPopup" style="display:none;" title="@ViewRes.EntryDetailsStrings.ReportAnError">
	
	<label>
		@ViewRes.EntryDetailsStrings.ReportType
	</label>
	@reportTypesDropdown
	
	<label>
		@ViewRes.EntryDetailsStrings.ReportNotes
	</label>
	@Html.TextArea("reportNotes", new { id = "reportNotes", @class = "input-xlarge" })

</div>

}