@inherits VocaDb.Web.Code.HelperPage
@using System.Web.Mvc.Html

@helper NotificationPanel(string message) {
	<div class="ui-widget">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				@message
			</p>
		</div>
	</div>
}

@helper ValidationSymmaryPanel(string message) {
	if (!ViewData.ModelState.IsValid) {
	<div class="ui-widget">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				@Html.ValidationSummary(false, message)
			</p>
		</div>
	</div>
	}
}