@inherits VocaDb.Web.Code.HelperPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Microsoft.Web.Helpers
@using VocaDb.Model.DataContracts.Users;
@using VocaDb.Web.Helpers;

@helper ProfileIcon(UserBaseContract user, int size = 80) {
	if (user != null && !string.IsNullOrEmpty(user.Email)) {
		<div style="width: @(size)px; height: @(size)px">
			@Gravatar.GetHtml(user.Email, size)
		</div>
	}
}

@helper UserLink(UserBaseContract user) {
	@Html.ActionLink(user.Name, "Profile", "User", new { id = user.Name }, null)
}