@{
    ViewBag.Title = "Admin menu";
}
<p>
@Html.ActionLink("Manage users", "Index", "User")
</p>
<p>
@Html.ActionLink("Generate image thumbnails", "GeneratePictureThumbs")
</p>
<p>
@Html.ActionLink("Refresh NHibernate cache", "RefreshDbCache")
</p>
<p>
@Html.ActionLink("Update all artist strings", "UpdateArtistStrings")
</p>