@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.UnifiedCommentContract[]

@{
	ViewBag.Title = "Recent comments";
	ViewBag.Parents = new[] { 
		Html.ActionLink("Manage", "Index"), 
	};		
}

<table>
	<tr>
		<th>Time</th>
		<th>Author</th>
		<th>Target</th>
		<th>Message</th>
	</tr>
@foreach (var comment in Model) {
	<tr>
		<td>@comment.Created</td>
		<td>@Html.UserLink(comment.Author, comment.AuthorName)</td>
		<td>@Helpers.EntryLink(comment.Entry)</td>
		<td>@Helpers.ConvertNewlinesToBreaks(comment.Message)</td>
	</tr>
}
</table>