
@{
    ViewBag.Title = "View audit log";
}

<div >
	<table id="logEntries">
		<tr>
			<th>Time</th>
			<th>User</th>
			<th>Action</th>
		</tr>		
		@{ Html.RenderAction("AuditLogEntries"); }
	</table>
</div>

<a href="#" id="loadMoreLink">Load more</a>
@Html.Hidden("start", 200)

@section BodyScripts {
<script type="text/javascript">

	$(document).ready(function () {
		$("#loadMoreLink").click(function () {
			$.post("AuditLogEntries", { start: $("#start").val() }, function (result) {
				$("#logEntries").append(result);
				$("#start").val(parseInt($("#start").val()) + 200);
			});
			return false;
		});
	});

</script>
}