@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.Security.AuditLogEntryContract[]

@{
    ViewBag.Title = "View audit log";
}

<table>
	<tr>
		<th>Time</th>
		<th>User</th>
		<th>Action</th>
	</tr>
	@foreach (var entry in Model) {
		<tr>
			<td>@entry.Time</td>
			<td>
				@Html.UserLink(entry.User, entry.AgentName)
			</td>
			<td>
				@Html.Raw(entry.Action)
			</td>
		</tr> 
	}
</table>
