@model VocaDb.Model.DataContracts.Albums.ArtistForAlbumContract

<tr id="@("artistRow_" + Model.Id)">
	<td>@Html.ActionLink(Model.Album.Name, "Details", "Album", new { id = Model.Album.Id })</td>
	<td>
		<input type="button" class="albumRemove" id="@("albumRemove_" + Model.Id)" value="Remove" />
	</td>
</tr>
