@model VocaDb.Model.DataContracts.Artists.GroupForArtistContract
@using VocaDb.Web.Helpers

<tr>
	<td>
		@using (Html.BeginCollectionItem("Groups")) {
			@Html.HiddenFor(m => m.Id);
			@Html.HiddenFor(m => m.Group.Id);
			@Html.ActionLink(Model.Group.Name, "Edit", "Artist", new { id = Model.Group.Id }, null);
		}
	</td>
	<td>
		<a href="#" class="groupRemove textLink removeLink">Remove</a>
	</td>
</tr>