@using VocaDb.Model.DataContracts.Artists;
@{
    ViewBag.Title = "Artists";
}

<table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
@foreach (ArtistWithAdditionalNamesContract artist in ViewBag.Artists) {
	<tr>
		<td>
			@Html.ActionLink(artist.Name, "Details", new { id = artist.Id })<br />
			<span class="extraInfo">@artist.AdditionalNames</span>
		</td>
		<td>
			@artist.ArtistType
		</td>
	</tr>
}
</table>