@using VocaDb.Model.DataContracts.Artists;
@{
    ViewBag.Title = "Artists";
}

<table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
@foreach (ArtistWithAdditionalNamesContract artist in ViewBag.Artists) {
	<tr>
		<td>
			@Html.ActionLink(artist.Name, "Details", new { id = artist.Id })<br />
			<span class="extraInfo">@artist.AdditionalNames</span>
		</td>
		<td>
			@artist.ArtistType
		</td>
	</tr>
}
</table>

@model ArtistContract
@if (Context.User.Identity.IsAuthenticated) {
using (Html.BeginForm("Create", "Artist")) {
	
    <div>
        <fieldset>
            <div class="editor-label">
                Name:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Name)
            </div>			
			<input type="submit" value="Create" />
		</fieldset>
	</div>
}
}