@model  VocaDb.Model.DataContracts.Artists.ArtistContract

@{
    ViewBag.Title = "Merge artist - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Artists", "Index"), 
		Html.ActionLink(Model.Name, "Details", new { id = Model.Id }),
		Html.ActionLink("Edit", "Edit", new { id = Model.Id }),
	};	
}

@using (Html.BeginForm()) {

<p>
	Choose the entry which this one will be merged to. All references will be pointed to that new entry.
</p>

<p>
	<input name="artistName" type="text" maxlength="128" id="artistName" /><br />
	<select name="artistList" id="artistList" size="5" />
</p>

<input type="submit" value="Merge" />
	
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Artist/Merge.js")"></script>
<script type="text/javascript">

	$(document).ready(function() { 
		initPage(@Model.Id) 
	});

</script>
