@model  VocaDb.Model.DataContracts.Artists.ArtistContract

@{
    ViewBag.Title = "Merge artist - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Artists", "Index"), 
		Html.ActionLink(Model.Name, "Details", new { id = Model.Id }),
		Html.ActionLink("Edit", "Edit", new { id = Model.Id }),
	};	
}

@using (Html.BeginForm()) {

	@Helpers.MergeEntryInfo()

	<input type="hidden" name="targetArtistId" id="targetArtistId" />

	<br />
	<div id="targetArtist">		
	</div><br />
	
	@Helpers.EntrySearchNameBox("artistName")
	
	<br /><br />
			
	<button type="submit" class="btn btn-primary" id="mergeBtn">Merge</button>
	
}

@section BodyScripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Artist/Merge.js")"></script>
    <script type="text/javascript">

	    $(document).ready(function() {
		    initPage(@Model.Id);
	    });

    </script>    
}
