@model VocaDb.Web.Models.MikuDbAlbums.Index
@{
	ViewBag.Title = "MikuDB albums";
}

@Html.ActionLink("Import new", "ImportNew")

@using (Html.BeginForm("Index", "MikuDbAlbum")) {

<p>
	Status:
	@Html.DropDownListFor(m => m.Status, new SelectList(Model.AllStatuses))
	&nbsp;
	<input type="submit" value="Apply" />
</p>
	
	<table>
		<tr>
			<th>Title</th>
			<th>Imported</th>
			<th>Data</th>
		</tr>
		@foreach (var album in Model.Albums) {
			Html.RenderPartial("MikuDbAlbumRow", album);
		}
	</table>
	
}