@using VocaDb.Web.Helpers
@model VocaDb.Web.Models.MikuDbAlbums.Index
@{
	ViewBag.Title = "MikuDB albums";
}

<!--
<link rel="stylesheet" href="@Url.Content("~/Content/jquery.tooltip.css")" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.tooltip.min.js")" type="text/javascript"></script>
-->

@section Toolbar {
@if (Login.Manager.HasPermission(VocaDb.Model.Domain.Security.PermissionFlags.MikuDbImport)) {
	
@Html.ActionLink("Import new", "ImportNew", null, new { id = "importNewLink" })

}
}

@using (Html.BeginForm("Index", "MikuDbAlbum")) {

<p>
	Status:
	@Html.DropDownListFor(m => m.Status, new SelectList(Model.AllStatuses))
	&nbsp;
	<input type="submit" value="Apply" />
</p>
	
	<table>
		<tr>
			<th>Title</th>
			<th>Info</th>
			<th>Tracks</th>
		</tr>
		@foreach (var album in Model.Albums) {
			Html.RenderPartial("MikuDbAlbumRow", album);
		}
	</table>
	
}

<script type="text/javascript">

	$(document).ready(function () {
		$("#importNewLink").button({ icons: { primary: 'ui-icon-arrowthickstop-1-s'} });
	});

</script>