@model VocaDb.Web.Models.MikuDbAlbums.PrepareAlbumsForImport

@{
    ViewBag.Title = "Importing albums";
}

@using (Html.BeginForm("AcceptImported", "MikuDbAlbum")) {

foreach (var album in Model.Albums) {
	Html.RenderPartial("InspectedAlbumRow", album);
}

<button type="submit" class="btn btn-primary">Accept</button>

}