@{
    ViewBag.Title = "IRC chat at #vocadb";
}

<iframe src="http://kiwiirc.com/client/irc.rizon.net/vocadb/" style="border:0; width:100%; height:600px;"></iframe>

<br /><br />
For other clients, use the address <a href="irc://irc.rizon.net/vocadb">irc://irc.rizon.net/vocadb</a>.