@{
    ViewBag.Title = "IRC chat at #mikuchan";
}

<iframe src="http://kiwiirc.com/client/irc.rizon.net/mikuchan/" style="border:0; width:100%; height:600px;"></iframe>

<br /><br />
For other clients, use the address <a href="irc://irc.rizon.net/mikuchan">irc://irc.rizon.net/mikuchan</a>.