@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.UseCases.FrontPageContract

<h3>Welcome to the Vocaloid Database!</h3>

<h4>News</h4>

@foreach (var entry in Model.NewsEntries) {
	@ActivityfeedHelpers.NewsEntry(entry);
}

<h4>Recent activity</h4>

@foreach (var entry in Model.ActivityEntries) {
	@ActivityfeedHelpers.ActivityEntry(entry);
}

<h4>Search the whole site using Google custom search</h4>
@Helpers.GoogleSiteSearch()
