@{
	ViewBag.Title = "Home";
}

<h3>Welcome to the Vocaloid Database!</h3>

<ul>
	<li>@Html.ActionLink("Artists", "Index", "Artist")</li>
	<li>@Html.ActionLink("Albums", "Index", "Album")</li>
	<li>@Html.ActionLink("Songs", "Index", "Song")</li>
</ul>