@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.Activityfeed.ActivityEntryContract[]

<h3>Welcome to the Vocaloid Database!</h3>

@Helpers.NotificationPanel("This site is currently in beta testing. Short downtimes and small bugs are to be expected.")

@foreach (var entry in Model) {

	<div class="message ui-tabs ui-widget ui-widget-content ui-corner-all">
		@ActivityfeedHelpers.ActivityEntry(entry)
	</div>
	
}

<h3>Search the whole site using Google custom search</h3>
@Helpers.GoogleSiteSearch()
