@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.CommentContract

<div>
	<h3>
		@Html.ProfileIcon(Model.Author, 25)
		@UserHelpers.UserLink(Model.Author)
		&nbsp;-&nbsp;
		@Model.Created

		@if (Login.CanDeleteComment(Model)) {
			<a href="#" id="deleteComment_@(Model.Id)" class="deleteComment">Delete</a>
		}
	</h3>
	<p>
		@Helpers.ConvertNewlinesToBreaks(Model.Message)
	</p>
	<hr />
</div>
