@model System.Collections.Generic.KeyValuePair<string, string>

<div class="ui-widget">
	<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
		<p>
			<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
			An entry called <a href="@Model.Value">@Model.Key</a> already exists. 
			Make sure you're not creating a duplicate.
		</p>
	</div>
</div>
