@using VocaDb.Web.Helpers;
@model System.Collections.Generic.KeyValuePair<string, string>

@using (Html.BeginHighlightPanel()) {
	<p>
		@Helpers.NotificationIcon()
		An entry called <a href="@Model.Value">@Model.Key</a> already exists. 
		Make sure you're not creating a duplicate.
	</p>
}