@model VocaDb.Model.DataContracts.EntryRefWithNameContract[]

<div class="alert">
	<p>
		@Helpers.NotificationIcon()
		@ViewRes.EntryCreateStrings.FoundPossibleDuplicates
		<ul>
		@foreach (var e in Model) {
			<li>@Helpers.EntryLink(e)</li>
		}
		</ul>
	</p>
</div>