@model VocaDb.Model.DataContracts.EntryPictureFileContract
@using VocaDb.Web.Helpers;

<tr>
	<td>
		@{ var item = Html.BeginCollectionItem("Pictures"); }
		@Html.HiddenFor(m => m.Id)
		@Html.HiddenFor(m => m.EntryType)
		@if (Model.Id != 0) {
			<img src="@VocaDb.Model.Helpers.ImageHelper.GetImageUrlThumb(Model.EntryType, Model)" alt="Preview" class="coverPicThumb" />
		} else {
			<input type="file" name="pictureUpload" />
		}
	</td>
	<td>
		@Html.TextBoxFor(m => m.Name, new { size = 40, @class = "input-xlarge" })
		@{ item.Dispose(); }
	</td>
	<td>
		<a href="#" class="picRemove textLink deleteLink">Delete</a>
	</td>
</tr>
