@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.

		@Html.ActionLink("Click here to go to the front page", "Index", "Home")
    </h2>
</body>
</html>