@using VocaDb.Web.Helpers
@using VocaDb.Model

<tr id="nameRow_new">
	<td>
		<input type="text" maxlength="128" class="nameEditNew" id="nameEdit_new" />						
	</td>
	<td>
		@Html.LanguageSelectionDropDownList("nameLanguage_new", new { id = "nameLanguage_new" }, false)
	</td>
	<td>
		<input type="button" class="nameAddNew" id="nameAdd" value="Add" />
	</td>
</tr>