@using VocaDb.Web.Helpers
@model VocaDb.Web.Models.LocalizedStringEdit

<tr>
	<td>
		@{ var item = Html.BeginCollectionItem("Names"); }
		@Html.HiddenFor(m => m.Id)
		@Html.TextBoxFor(m => m.Value, new { maxlength = 128, @class = "nameEdit" })
	</td>
	<td>
		@Html.LanguageSelectionDropDownListFor(m => m.Language, new { @class = "nameLanguage" }, true, Model.Language)
		@{ item.Dispose(); }
	</td>
	<td>
		<input type="button" class="nameDelete" value="Delete" />
	</td>
</tr>
