@using VocaDb.Web.Helpers
@model VocaDb.Model.DataContracts.LocalizedStringWithIdContract

<tr>
	<td>
		@using (Html.BeginCollectionItem("Names.Aliases")) {
			@Html.EditorFor(m => m)
		}
	</td>
	<td>
		<a href="#" class="nameDelete textLink deleteLink">@ViewRes.SharedStrings.Delete</a>
	</td>
</tr>
