@model VocaDb.Model.DataContracts.PVs.PVContract
@using VocaDb.Web.Helpers;

<tr>
	<td>
		@{ var item = Html.BeginCollectionItem("PVs"); }
			Html.HiddenFor(m => m.DisplayName);
			Html.HiddenFor(m => m.Id);
			Html.HiddenFor(m => m.PVId);
			Html.HiddenFor(m => m.PVType);
			Html.HiddenFor(m => m.Service);	  
			Html.HiddenFor(m => m.Url);
		}
		<a href="@Model.Url">@Model.DisplayName</a>
	</td>
	<td>
		@Model.PVType
		@{ item.Dispose(); }
	</td>
	<td>
		@Html.TextBoxFor(m => m.Name)
	</td>
	<td>
		<a href="#" class="pvRemove textLink deleteLink">Delete</a>
	</td>
</tr>
