@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.Songs.SongWithAdditionalNamesContract[]

<p>@Model.Length @ViewRes.MiscStrings.SongCount.</p>

@ArtistHelpers.Songs(Model, null, true)