@model VocaDb.Model.DataContracts.Tags.TagSelectionContract[]

<div class="trackProperties">

	<p>@ViewRes.TagSelectionsStrings.Info</p>

	<div id="tagSelections">
	@foreach (var tagSelection in Model) {
		Html.RenderPartial("TagSelection", tagSelection);
	}
	</div>

	<p>
		@ViewRes.TagSelectionsStrings.AddTag:
		<input type="text" id="newTagName" maxlength="30" />
		<input type="button" id="addNewTag" value="@ViewRes.SharedStrings.Add" />
	</p>

</div>