@model VocaDb.Model.DataContracts.Tags.TagSelectionContract[]

<div class="trackProperties">

	<p>Tags may contain only alphanumeric characters and underscores.</p>

	<div id="tagSelections">
	@foreach (var tagSelection in Model) {
		Html.RenderPartial("TagSelection", tagSelection);
	}
	</div>

	<p>
		Add tag:
		<input type="text" id="newTagName" maxlength="30" />
		<input type="button" id="addNewTag" value="Add" />
	</p>

</div>