<tr id="webLinkRow_new">
	<td>
		<input type="text" maxlength="512" class="webLinkDescriptionNew" id="webLinkDescription_new" />						
	</td>
	<td>
		<input type="text" maxlength="512" class="webLinkUrlNew" size="50" id="webLinkUrl_new" />													
	</td>
	<td>
		<input type="button" class="webLinkAddNew" id="webLinkAdd" value="Add" />
	</td>
</tr>