@using VocaDb.Web.Helpers
@model VocaDb.Model.DataContracts.Artists.ArtistContract

<tr>
	<td>
		@using (Html.BeginCollectionItem("artists")) {
			@Html.HiddenFor(m => m.Id);
			@Html.ActionLink(Model.Name, "Details", "Artist", new { id = Model.Id }, null);
		}
	</td>
	 
	<td>
		<input type="button" class="artistRemove" value="Remove" />
	</td>
</tr>