@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.Songs.SongWithAdditionalNamesContract

<span>
	@if (Model != null && Model.Id != 0) {
		@Html.Hidden("OriginalVersionId", Model.Id)
		@Html.ActionLink(Model.Name, "Details", new { id = Model.Id })
	} else {
		<span>(nothing)</span>
	 }
</span>