@using VocaDb.Web.Helpers
@model VocaDb.Model.DataContracts.Songs.SongContract

<div style="float:left;">
	@SongHelpers.SongIconLink(Model)
</div>
(@Translate.SongTypeNames[Model.SongType])
<br />
<small>@Model.ArtistString</small>
