@model VocaDb.Model.DataContracts.Songs.SongContract

<span>
	@if (Model != null && Model.Id != 0) {
		@Html.Hidden("OriginalVersionId", Model.Id)
		@SongHelpers.SongLink(Model)
	} else {
		<span>(nothing)</span>
	 }
</span>