@model VocaDb.Web.Models.Song.Versions

@{
	ViewBag.Title = "Revisions - " + Model.Song.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Songs", "Index"), 
		LinkExtensions.ActionLink(Html, Model.Song.Name, "Details", new { id = Model.Song.Id }) 
	};
}

<p>Current version number is @Model.Song.Version .</p>

@Helpers.ArchivedObjectVersions(Model.ArchivedVersions)