@using VocaDb.Model.DataContracts.Songs;
@{
    ViewBag.Title = "Albums";
}

<table>
	<tr>
		<th>Name</th>
	</tr>
@foreach (AlbumContract album in ViewBag.Albums) {
	<tr>
		<td>
			@Html.ActionLink(album.Name, "Details", new { id = album.Id })<br />
		</td>
	</tr>
}
</table>