@using VocaDb.Web;
@using VocaDb.Model.DataContracts.Songs;
@{
    ViewBag.Title = "Albums";
}

<table>
	<tr>
		<th>Name</th>
	</tr>
@foreach (AlbumContract album in ViewBag.Albums) {
	<tr>
		<td>
			@Html.ActionLink(album.Name, "Details", new { id = album.Id })<br />
		</td>
		<td>
			@if (ViewExtension.LoggedUser(this).HasPermission(VocaDb.Model.Domain.Security.PermissionFlags.ManageAlbums)) {
				@Html.ActionLink("Edit", "Edit", new { id = album.Id })
			}
		</td>
	</tr>
}
</table>