@model VocaDb.Web.Models.Album.MassTagSongs

@{
    ViewBag.Title = "Tag songs for album - " + Model.Name;
}

@using (Html.BeginForm()) {

<table>
	<tr>
		<th>Song</th>
		@foreach (var artist in Model.Artists) {
			<th>@Html.ActionLink(artist.Name, "Details", "Artist", new { id = artist.Id }, null)</th>
		}
	</tr>
	@foreach (var track in Model.Tracks) {
		Html.RenderPartial("TrackArtistSelectionsRow", track);
	}
</table>

<input type="submit" value="Save" />
	
}