@model VocaDb.Model.DataContracts.Artists.ArtistContract[]

<!-- OBSOLETE - replaced by knockout -->

<div id="artistSelectionsForMultipleTracks">
@foreach (var artist in Model) {
	<span class="tag">
		<input type="hidden" class="artistSelectionArtistId" value="@artist.Id" />
		@Html.CheckBox("artistSelection_" + artist.Id, new { @class = "artistSelection" })
		@Html.Label("artistSelection_" + artist.Id, artist.Name)
	</span>
}
</div>
