@using VocaDb.Web.Helpers;
@model VocaDb.Web.Models.Album.TrackArtistSelectionsRow

<tr>
	<td>
		@{ var item = Html.BeginCollectionItem("Tracks"); }
		@Html.HiddenFor(m => m.Id)
		@Html.ActionLink(Model.DisplayName, "Details", "Song", new { id = Model.Song.Id }, null)
	</td>
	@foreach (var artist in Model.ArtistSelections) {
		Html.RenderPartial("TrackArtistSelection", artist);
	}
	@{ item.Dispose(); }
</tr>