@using VocaDb.Web.Helpers;
@model VocaDb.Web.Models.Album.TrackArtistSelection

<td>
	@using (Html.BeginCollectionItem("ArtistSelections")) {
		@Html.HiddenFor(m => m.Artist.Id)
		@Html.CheckBoxFor(m => m.Selected)
	}
</td>
