@model VocaDb.Model.DataContracts.UseCases.TrackPropertiesContract

<div id="@("trackProperties_" + Model.Id)" class="trackProperties">

	<h4>Artists for song @Model.Name</h4>

	@foreach (var artist in Model.ArtistSelections) {
		@Html.CheckBox("artistSelected_" + artist.Artist.Id, artist.Selected, new { @class = "artistSelection", id = "artistSelection_" + artist.Artist.Id })
		@Html.ActionLink(artist.Artist.Name, "Details", new { id = artist.Artist.Id }, new { title = artist.Artist.AdditionalNames })
	}

</div>