@model VocaDb.Model.DataContracts.Albums.AlbumWithArchivedVersionsContract

@{
	ViewBag.Title = "Versions - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Albums", "Index"), 
		LinkExtensions.ActionLink(Html, Model.Name, "Details", new { id = Model.Id }) 
	};
}

<p>Current version number is @Model.Version .</p>

@Helpers.ArchivedObjectVersions(Model.ArchivedVersions)