@model VocaDb.Web.Models.Album.Versions

@{
	ViewBag.Title = "Versions - " + Model.Album.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Albums", "Index"), 
		LinkExtensions.ActionLink(Html, Model.Album.Name, "Details", new { id = Model.Album.Id }) 
	};
}

<p>Current version number is @Model.Album.Version .</p>

@Helpers.ArchivedObjectVersions(Model.ArchivedVersions)