@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.Activityfeed.ActivityEntryContract[]

@{
    ViewBag.Title = "Activity entries";
}

<div id="activityEntriesPaged">
	@{ Html.RenderAction("EntriesPaged"); }
</div>

@section BodyScripts {
<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pager.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}