@{
    ViewBag.Title = "Help / About";
}

<div id="tabs">

	<ul>
		<li><a href="#aboutvocadb">VocaDB</a></li>
		<li><a href="#aboutvocaloid">Vocaloid</a></li>
		<li><a href="#guidelines">Guidelines</a></li>
	</ul>

	<div id="aboutvocadb">
		<h4 id="vocadbdescription">What is VocaDB?</h4>
			<p>Vocaloid Database is aimed to be a specialized and unified source of information about Vocaloid songs, albums and producers.</p>
			<p>Wiki, blogs and forums aren't suitable for storing, managing and effective search through a net of crosslinks between songs, producers, circles, vocaloids and PV's, and that information is scattered and duplicated across many websites in different languages.</p>
			<p>VocaDB was created as a custom solution for information about Vocaloid music and a <a href="#vocadbmetadata" title="">service</a> for other websites like MikuDB and Vocaloid Wiki.</p>
			
		<br />
		<h4 id="vocadbfeatures">Can I download Vocaloid music here?</h4>
			<p>No, VocaDB does not store any Vocaloid music files and does not provide any download links - check out <a href="http://www.mikudb.com/" title="">MikuDB</a> for that.</p>
			<p>See <a href="#" onclick="guidelines();" title="">main guidelines section</a> for more details.</p>
			
		<br />
		<h4 id="whatCanIDo">What can I do here?</h4>
			<p>You can browse and search for Vocaloid songs, producers, circles, PVs and song lyrics.</p>
			<p>Register (it's free and fast) to be able to:</p>
			<ul>
				<li>customize your display language and date formatting</li>
				<li><a href="#" onclick="guidelines();" title="">contribute information to VocaDB</a></li>
				<li>add songs to your favorites and songlists</li>
				<li>list personal collections of Vocaloid albums</li>
				<li>participate in the discussions</li>
				<li>tag albums, artists and songs</li>
				<li>and more</li>
			</ul>
		
		<br />
		<h4 id="contribute">How can I report errors and add information to VocaDB?</h4>
			<p>
				If you encounter incorrect or missing information, you can let us know by using the reporting feature, or better yet, create an account and 
				<a href="#" onclick="guidelines();" title="">correct it</a> yourself. 
				If you have a technical problem with the site, please <a href="#contactus" title="">contact us</a>.
			</p>
			
		<br />
		<h4 id="vocadbmetadata">Can other sites get information from VocaDB?</h4>
			<p>Yes, VocaDB has open interfaces and provides custom metadata request services - please <a href="#contactus" title="">contact</a> developers for details.</p>
			
		<br />
		<h4 id="staff">Staff</h4>
			<ul>
				<li><a href="http://www.mikuchan.org/" title="">riipah</a> - founder, developer</li>
				<li><a href="http://www.mikudb.com/" title="">Zakudono</a> - developer, contributor</li>
				<li>digited - contributor</li>
				<li><a href="http://youtube.com/user/salanos">SaLaNoS - artist</a></li>
			</ul>
		<br />
		<h4 id="contactus">Contact Us</h4>
			<a href="mailto:support@vocadb.net" title="">support@vocadb.net</a><br />
			<a href="http://www.vocaloidotaku.net/index.php?/topic/25685-vocadb-vocaloid-database" title="">Discussion thead at VocaloidOtaku</a><br />
			<a href="http://code.google.com/p/vocadb" title="">Google code</a><br />
		<br />
		<br />
		<span class="about-disclaimer">Background illustration by <a href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=21869578" title="">72</a>  |  VocaDB interface is powered by <a href="http://jquery.com/" title="">jQuery</a> and <a href="http://jqueryui.com" title="">jQuery UI</a></span>
	</div>

	<div id="aboutvocaloid">
		<iframe class="aboutvocaloid-ytiframe" width="560" height="315" src="http://www.youtube.com/embed/VOE03b4XPNE" frameborder="0" align="right" allowfullscreen></iframe>
		<h4 id="vocaloidlinks">Main description</h4>
			<a href="http://en.wikipedia.org/wiki/Vocaloid" title="">Wikipedia article</a><br />
			<a href="http://vocaloid.wikia.com/wiki/Vocaloid_Wiki" title="">Vocaloid wiki</a><br />
			<br />
			<a href="http://deliciouscakeproject.wordpress.com/2010/09/20/hatsune-miku-and-the-magic-of-make-believe/" title="">Delicious Cake Project</a><br />
		<h4 id="vocaloiddescription">Short description</h4>
			<p>Vocaloid is a unique subculture of user-created content (music, illustrations, videos, software, games, cosplay, events), based on voice synthesizers and their mascots.</p>
			<p>Vocaloid synthesizer software is a digital musical instrument to create human vocals, allowing anyone to have their personal virtual singer.</p>
			<p>The first Vocaloid "singers" Leon and Lola were released in 2004 in english language, but weren't successful. Vocaloid technology became popular in 2007 in Japan with the japanese voicebank "Hatsune Miku" (first V2 in Japan, second V2 in world after Sweet Ann).</p>
			<p>Being a great and fresh combination of a decent V2 voicebank and a snazzy boxart illustration, Hatsune Miku gained unexpected, unprecedented and massive success and became the symbol of all Vocaloid technology and subculture.</p>
		<h4 id="whyjapan">Why in Japan?</h4>
			<ul type="circle">
				<li>The simplest language for synthesis in the world: japanese has syllable-based phonetics, no accents and no rhyme concept in poetry</li>
				<li>Popular anime style (moe catalyst)</li>
				<li>A lot of <a href="http://en.wikipedia.org/wiki/D%C5%8Djin" title="">dōjin</a> (self-published) activity</li>
				<li>Traditional high-pitched female vocal</li>
				<li>Diverse and active musical scene, a lot of indie musicians</li>
				<li>Pop-idols and virtual pop-star concepts in anime (Sharon Apple in "Macross Plus", 1994)</li>
			</ul>
			<p>Japan happened to be the best country for a popularity breakthrough of the Vocaloid technology.</p>
		<h4 id="vocaloidfeatures">Features of Vocaloid</h4>
			<ul type="circle">
				<li>Vocaloid synthesizer software is treated as a musical instrument, so is free to use for any purpose.</li>
				<li>Piapro license initiative from Crypton Future Media permits the non-commercial usage of mascot images.</li>
				<li>Decentralization. Noone commands the community what and how to do. All content (music, videos, illustrations) is created by users themselves for their own purposes (fun, self-expression, selling).</li>
				<li>Collaboration of song writers, musicians, illustrators, animators and programmers.</li>
				<li>Self-promotion of Vocaloids and producers. Basically, the community choose Miku and made her popular (same with GUMI).</li>
				<li>Sharing of music and support principles. Most of Vocaloid music and videos are freely available on NND, Piapro and YouTube, still we support producers by buying their albums. It is possible for and being done by people who live outside Japan, too. Musical instruments, hardware, software and learning cost a lot, and producers are mostly indie musicians, so every sold cd is important for them. If you really like the music that was done by a Vocaloid producer, please support him.</li>
				<li>Concerts.</li>
			</ul>
		<h4 id="vocaloidpv">PV</h4>
			<p>Promotional Videos are being used to attract listeners to Vocaloid songs, becoming part of the songs, the form of art by itself and a part of Vocaloid subculture.</p>
			<p>Japanese flash video streaming service <a href="http://www.nicovideo.jp/">Nico Nico Douga</a> (shortly NND) greatly helped in popularization of Vocaloid in Japan and is used for uploading new japanese Vocaloid songs and videos, live streaming of concerts, presentations and other events.</p>
		<h4 id="ytnndsoundquality">Sound quality of videos on YouTube and Nico Nico Douga</h4>
			<p>NND videos have various sound quality - from MP3 CBR 64 kbps in "economy" mode to AAC VBR ~370 kpbs, but generally it is higher than on YouTube, that has AAC VBR ~128 kbps in most videos (same for all video resolutions).</p>
		<h4 id="vocaloidmmd">MMD</h4>
			<p><a href="http://en.wikipedia.org/wiki/MikuMikuDance">MikuMikuDance</a> is a free, popular and powerful 3D animation software, made by Yu Higuchi (HiguchiM) for Vocaloid Promotional Videos.</p>
			<p>MMD is a part of success of Hatsune Miku and is also a subculture itself, having MMD Cup championships and being used to produce animation for memes, Touhou, IDOLM@STER etc.</p>
		<h4 id="vocaloidp">Producer</h4>
			<a href="http://vocaloid.wikia.com/wiki/Category:Producer" title="">Desctription on Vocaloid Wiki</a>
			<p>"Producer" is the term used for any person that produces Vocaloid-related audiovisual material, generally original music or fanmade PVs.</p>
		<h4 id="vocaloidcircle">Circles and Labels</h4>
			<p><a href="http://en.wikipedia.org/wiki/D%C5%8Djin" title="">Dōjinshi circle</a> is a group of authors of self-published works that may act as a label for dōjin events (Comiket or Vocaloid M@ster).</p>
			<p><a href="http://en.wikipedia.org/wiki/Record_label" title="">Record label</a> is a company that provides professional studio services (instruments, recording, mastering), production of CD's, various promotion and copyright protection. The most well known Vocaloid label is <a href="http://www.karent.jp/">KarenT</a>, created by Crypton Future Media.</p>
	</div>
	
	<div id="guidelines">
		<h3 id="glmain">General principles</h3>
			<ul>
				<li>Avoid submitting entries that already exist in the database. Duplicates have to be deleted or merged by the staff.</li>
				<li>When editing entries that are finalized or approved (not drafts), make sure you have a good reason, and preferably state that reason in the edit notes unless it's obvious.</li>
				<li>This is a database for Vocaloid-related content. UTAU and Vocaloid-related collaborations are accepted, but totally unrelated content will be deleted.</li>
				<li>Download links to illegal file-sharing sites that provide no useful information (like Mediafire/Megaupload/Torrents) are NOT allowed. Links to informative blogs/forums/wikis (like MikuDB/Miku;Zen) ARE allowed.</li>
				<li>Direct download links to media files (such as .mp3) are generally not allowed, even if they're official and legal. If the song/video is officially distributed, link to the artist's official download page (for example on piapro) instead.</li>
			</ul>

		<h4>How can I add new producers, albums and songs?</h4>
		<p>Register and use links in main navigation panel or buttons in producer, album and song list pages.</p>

		<h4>Names and translations</h4>
		<p>
			All names should primarily be written in the original language, which usually means Japanese, but it can also be for example English or Korean. 
			The system supports 3 language options:
		</p>
		<ul>
			<li>"Non-English" covers original names in all languages that aren't English or romanized, for example Japanese.</li>
			<li>"Romanized" is for foreign original names written in the Latin (western) alphabet. Usually this means Romaji.</li>
			<li>"English" is for official names in English and known translations of foreign names.</li>
			<li>"Unspecified" is for names where the language doesn't matter or it's unknown. Unspecified names will never be used as display names of an entry if another name is provided.</li>
		</ul>
		<p>
			If the original language is English, the name should be written to the English language field, otherwise it's written to the "Non-English" language field.
			If those names have commonly used romanizations or English translations, those can be entered as well to make it easier for the international audience to find
			and understand those names. Other names, for example translations to other languages, should be marked as "Unspecified" according to current rules.
			Sometimes an entry may have multiple names in one language, for example producer's real name and artist name. In this case the additional names can be marked as "Unspecified" so that they won't be used as display names regardless of user's display option.
		</p>
		<p>
			If the entry has multiple names in one language and it's not clear which one of those should be the primary one, you should refer to official information,
			such as product packaging. If the name in the album's cover doesn't conflict with the other rules on the site, that name should be preferred as the primary one.
			<br />
			However, keep in mind that sometimes the official information contains the same name in multiple languages, combined into one. In this case you should enter
			the name separately for each language. For example, if the song is uploaded to NicoNicoDouga with the name 秘密警察 - Himitsu Keisatsu, you should
			enter both names separately: 秘密警察 as Non-English and Himitsu Keisatsu as Romanized.
		</p>
		<p>
			Registered users can set their display language, so that they will always see the names in that language, if available.
			Unregistered users and users who haven't set their display language will see the original names, which may be either English or something else. 
			For example, if the non-English name of an artist is ナナホシ, the romanized name is nanahoshi and the default language option is "Original", then by default users will see ナナホシ unless they have chosen to prefer romanized names instead.
		</p>
		<p>Generally there is no need to add composite names, and those names should broken into separate fields.</p>
		<p><input type="text" class="incorrect-example-input"value="cosMo@Bousou-P(暴走P)" size="23" readonly="readonly" /> is incorrect: every field should contain only one name.</p>

		<h4>Entry statuses</h4>
		<p>
			Entries that are marked as drafts have missing or incomplete information. The draft status is indicated on the entry's page. 
			All entries should meet certain requirements before they can be marked as finished/completed. For now these requirements are only suggestions, but 
			in the future they may be enforced more strictly. Of course when editing an entry that meets these requirements,
			you can still mark it as draft if you feel that the entry needs further attention.
			<br /><br />
			After the entry has been finished it can be approved by a trusted user or staff member. Most properties of approved entries cannot be edited by users with
			normal permissions. Tags can still be edited by anyone and comments can be added. Trusted users are also able to change the status back from Approved to Finished or even Draft.
			<br />
			<b>A note for trusted users regarding entry approval: </b>You're encouraged to mark the entry as Approved when you've checked that all the necessary information is provided and
			it's correct. However, songs shouldn't be marked as approved until they have lyrics. When approving albums, make sure that ALL the artists have been added.
		</p>
		
		<br />
		<h3 id="glproducers">Artists, producers and Vocaloids</h3>
		<h4 id="glartisttypes">Artist types</h4>
            <p>
			Every artist has a classification which also determines the artist's default roles. 
            Roles can be overridden per album and per song -basis, but in many cases the artist is involved only in one role.
            </p>
			<ul>
				<li>"Producer" - the person who created the song (and in the case of a Vocaloid song, usually the vocals as well using Vocaloid). Not necessarily the original composer.</li>
				<li>"Animator" - person who primarily animates PVs.</li>
				<li>"Circle" - group that self-publishes and sells albums only at doujin events (Comiket or Vocaloid Master).</li>
				<li>"Label" - a commercial company that publishes albums for other artists.</li>
				<li>"Other group" - group that releases albums via Labels.</li>
				<li>"Other vocalist" - human singers (NND vocalists).</li>
				<li>"Other individual" - other people such as lyricists and illustrators.</li>
			</ul>
        
        <h4>Artist pictures</h4>
            <p>
            When adding pictures to artists, keep in mind all the pictures should be related to the artist himself, not his works. Do not upload album covers for artist entries.
            <br />
            That said, there is no common rule for choosing the main picture of an artist. Photos of the artist himself as well as official logos are preferred.
            You may upload any number of these pictures as additional pictures for the artist, provided that they're relevant enough.
            <br />
            If no better picture is provided, any picture found on the artist's official profile, for example on twitter, is accepted as well.
            </p>

		<h4>Completed artist entries should meet the following criteria:</h4>
		<ul>
			<li>The artist has at least one name whose language option isn't "Unspecified".</li>
			<li>Artist type isn't "Unspecified".</li>
			<li>The artist has a description OR at least one external link (to a wiki, artist's NND MyList etc.)</li>
		</ul>
		
		<br />
		<h3 id="glalbums">Albums</h3>
			<p>To assign producers and vocalists to songs in album, add artists to album first and then click on each added song in song list to show a quick selection dialog.</p>
			<p>Every album should be related to Vocaloid music by meeting one of following conditions:</p>
			<ul>
				<li>being done by a producer that created Vocaloid albums before</li>
				<li>having at least one song with synthesized vocal</li>
				<li>having at least one cover of an originally Vocaloid song</li>
			</ul>
			<p>Totally unrelated albums may be deleted from VocaDB.</p>

		<h4>Adding artists for albums</h4>
		<p>
			When linking artists to albums, at the very least you should add the responsible circle (usually there's only one) and vocalists.
			Invidividual producers and the associated record label (if any) can be added as well. At the moment all artist types may be linked to albums.
			<br />
			Sometimes it's necessary to credit people that aren't in the database, and it doesn't make sense to add an entry for them. 
			For example if the song in the database is a remix/cover and the original isn't a Vocaloid song, the original composer doesn't need to be added to the database, 
			but should be credited nevertheless.
			These "extra artists" can then be assigned into roles just like artists that are in the database. However, for all Vocaloid-related artists,
			it's necessary to create an entry for that artist.
		</p>

		<h4>Completed album entries should meet the following criteria:</h4>
		<ul>
			<li>The album has at least one name whose language option isn't "Unspecified".</li>
			<li>All artists responsible of the album are specified. Usually there should be at least one producer and one vocalist. Whenever it makes sense, each of those artists should have an entry in the database. If you can't locate some of the artists, please leave the entry as draft.</li>
			<li>Album type isn't "Unspecified". Try to find the correct type.</li>
			<li>The album has has at least a release year.</li>
			<li>The album has a complete tracklist.</li>
		</ul>
		
		<br />
		<h3 id="glsongs">Songs</h3>
			<p>Song entries contain information about authors and vocalists (see "Artists" tab), PVs and lyrics.</p>
			<p><input type="text" class="incorrect-example-input" value="『ミク×リン×レン』 ReAct 『オリジナル曲PV』" size="40" readonly="readonly" /> is incorrect: all additional info (vocalists, authors, PV) should be added to appropriate fields. A song title should contain nothing more than the name itself.</p>
			
		<h4>Adding artists for songs</h4>
		<p>
			Most Vocaloid songs have one producer and one or more vocalists (Vocaloids). 
			Circles and labels are generally NOT credited for individual songs, unless it's clear that the whole group worked on that song.
		</p>
		<p>
			When tagging Vocaloids you should use the information provided by the artist, not guess yourself. If the artist says the singer is Hatsune Miku, you should
			add Miku's original voicebank, even if you think the singer is actually an Append. Sometimes the artist says the singer is Append, but doesn't specify which Append.
			In that case you should choose Append (unknown). Do not guess unless you're sure.
		</p>
		<p>
			In the case of a remix or cover, the original composer/lyricist of the song does not need to be credited if the  
			original song is in the database.
			<br />
			If the original is a Vocaloid song, add the original song to the database and link the derived version to that original, 
			or if the original is not a Vocaloid song, add the composer as an "extra artist" (see album guide for more information).
			Remember to set the artist's role properly to Composer/Lyricist.
		</p>

		<h4>Song types</h4>
		<p>
			The most important distinction is between Original and others. Original always means that the song is completely original production.
			If the song uses material from existing sources, it's derived work and not original.
		</p>

		<h4 id="glpv">Song embeds and PVs</h4>
		<p>
			Songs may contain links to any number of embedded media files such as Promotional Videos (PVs) on NicoNicoDouga (NND) or Youtube, or songs on SoundCloud, 
			provided that they're related to that song.<br />
			Very often Vocaloid artists themselves upload their songs to NND, and sometimes to Youtube/SoundCloud as well, in which case these uploads are called "original".
			Original uploads, if available, are highly preferred to any others.<br />
			If a PV made for a song is remarkable or well-known in some way, you're encouraged to create a separate entry for that PV and link it to the original song.
		</p>
		<ul>
			<li>"Original" - the first video with that song, usually uploaded by author himself (may lack any animation). There may be multiple Original PVs if all are uploaded by the producer.</li>
			<li>"Reprint" - should be identical to "Original"; most often it's a YouTube reprint of original NND video, uploaded by someone else than the artist.</li>
			<li>"Other" - any following PV with animation, MMD versions etc. May be much better known than original one.</li>
		</ul>

		<h4>Completed song entries should meet the following criteria:</h4>
		<ul>
			<li>The song has at least one name whose language option isn't "Unspecified".</li>
			<li>The song has at least one artist (usually there should be at least one producer and one vocalist).</li>
			<li>Song type isn't "Unspecified".</li>
		</ul>
		
		<br />
		<h3>Tags</h3>
		<p>
			Tags are free-form metadata that can be added to all entry types. Tags allow users to link entries together by any
			properties they can come up with, not being limited to the options provided by the system. Examples of tags
			are genres, presentation languages and themes. Tags can be edited more freely than other properties and some of them they may even be considered subjective.
			Therefore tags are based on voting. Any user may add tags to an entry and vote on existing tags. Only the most popular tags
			will be displayed for that entry.
		</p>
			
		<h4>What to tag then?</h4>
		<p>
			Generally you should avoid tagging with information that is already provided by more specialized
			fields. For example, albums or songs with artist names is redundant because the artists list already handles this better.
			Likewise, tagging cover songs with "cover" is useless if the song classification is already cover. Of course albums
			have no such classification, so that tag might be relevant for an album (or artist, if that artist is known for making covers).
		</p>

		<h4>Tags versus pools</h4>
		<p>
			Trusted users are able to create public songlists called pools. Pools can be used for largely the same purpose as tags, grouping
			songs together based on some common theme. There are a few differences between tags and songlists.
		</p>
		<ul>
			<li>Pools are not voted on, unlike tags. All pools are equal.</li>
			<li>Only trusted users are able to edit pools. Any user can vote on tags. Thus tags are easier to use, but also more unreliable.</li>
			<li>Pools may contain only songs. Tags can be applied to albums and artists as well.</li>
			<li>Songs in a pool can be ordered. Songs with a specified tag are unordered.</li>
			<li>You can add notes to songs in a pool.</li>
		</ul>
		
		<br />
		<h3>Other guidelines</h3>
		<ul>
			<li>Applies to trusted users: when merging duplicate entries, prefer merging the newer entry to the older one, unless the new entry is finalized while the older one is draft.</li>
			<li>
				The official language of the site is English. Please prefer using English for all information besides entry names. 
				For example when adding external links, the descriptions of those links should be in English.
				Other languages are allowed with a good reason, for example if a specific piece of information cannot be properly translated into English.
			</li>
		</ul>

	</div>
</div>

<script type="text/javascript">

	function aboutvocadb()   { $("#tabs").tabs('select', 0); }
	function aboutvocaloid() { $("#tabs").tabs('select', 1); }
	function guidelines()    { $("#tabs").tabs('select', 2); }

	$(function () {
		var tabs = $("#tabs").tabs();

		var hsh = window.location.search;
		var done = false;


		if (hsh.length > 3 && (hsh.indexOf("+") > 1)) {
			// 4 minimum chars in search str are "?a+b"
			var hsh_arr = hsh.substr(1).split('+', 2);
			
			if (hsh_arr[1].length > 0) {
				switch (hsh_arr[0]) {
					case 'vocadb':     aboutvocadb(); break;
					case 'vocaloid':   aboutvocaloid(); break;
					case 'guidelines': guidelines(); break;
					default: break;
				}

				document.getElementById(hsh_arr[1]).scrollIntoView(); // TODO: check & highlight
			}
		}
	});

</script>