@{
    ViewBag.Title = "Help / About";
}

<div id="tabs">

	<ul>
		<li><a href="#aboutvocadb">VocaDB</a></li>
		<li><a href="#aboutvocaloid">Vocaloid</a></li>
		<li><a href="#guidelines">Guidelines</a></li>
	</ul>

	<div id="aboutvocadb">
		<h4 id="vocadbdescription">What is VocaDB?</h4>
			<p>Vocaloid DataBase is aimed to be a specialized and unified source of information about Vocaloid songs, albums and producers.</p>
			<p>Wiki, blogs and forums aren't suitable for storing, managing and effective search through a net of crosslinks between songs, producers, circles, vocaloids and PV's, and that information is scattered and duplicated across many websites in different languages.</p>
			<p>VocaDB was created as a custom solution for information about Vocaloid music and a <a href="#vocadbmetadata" title="">service</a> for other websites like MikuDB and Vocaloid Wiki.</p>

		<h4 id="vocadbfeatures">Can I download Vocaloid music here?</h4>
			<p>No, VocaDB does not store any Vocaloid music files and does not provide any download links - check out <a href="http://www.mikudb.com/" title="">MikuDB</a> for that.</p>
			<p>See <a href="#" onclick="guidelines();" title="">main guidelines section</a> for more details.</p>

		<h4 id="whatCanIDo">What can I do here?</h4>
			<p>You can browse and search for Vocaloid songs, producers, circles, PV's and song lyrics.</p>
			<p>Register (it's free and fast) to be able to:</p>
			<ul type="circle">
				<li><a href="#" onclick="guidelines();" title="">add information to VocaDB</a></li>
				<li>add songs to your favourites</li>
				<li>list personal collections of Vocaloid albums</li>
				<li>more in the future</li>
			</ul>
		
		<h4 id="contribute">How can I report errors and add information to VocaDB?</h4>
			<p>If you have found an incorrect or missing information, you can either <a href="#contactus" title="">contact us</a> or register and <a href="#" onclick="guidelines();" title="">fix/add it</a> yourself (which should be much faster and more effective).</p>

		<h4 id="vocadbmetadata">Can other sites get information from VocaDB?</h4>
			<p>Yes, VocaDB has open interfaces and provides custom metadata request services - please <a href="#contactus" title="">contact</a> developers for details.</p>

		<h4 id="staff">Staff</h4>
			<ul>
				<li><a href="http://www.mikuchan.org/" title="">riipah</a> - founder, developer</li>
				<li><a href="http://www.mikudb.com/" title="">Zakudono</a> - developer, contributor</li>
				<li>digited - contributor</li>
				<li><a href="http://youtube.com/user/salanos">SaLaNoS - artist</a></li>
			</ul>
		<br />
		<h4 id="contactus">Contact Us</h4>
			<a href="mailto:support@vocadb.net" title="">support@vocadb.net</a><br />
			<a href="http://mikuchan.org/vocadb" title="">Discussion board at mikuchan</a><br />
			<a href="http://code.google.com/p/vocadb" title="">Google code</a><br />
		<br />
		<br />
		<span class="about-disclaimer">Background illustration by <a href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=21869578" title="">72</a>  |  VocaDB interface is powered by <a href="http://jquery.com/" title="">jQuery</a> and <a href="http://jqueryui.com" title="">jQuery UI</a></span>
	</div>

	<div id="aboutvocaloid">
		<iframe class="aboutvocaloid-ytiframe" width="560" height="315" src="http://www.youtube.com/embed/VOE03b4XPNE" frameborder="0" align="right" allowfullscreen></iframe>
		<h4 id="vocaloidlinks">Main description</h4>
			<a href="http://en.wikipedia.org/wiki/Vocaloid" title="">Wikipedia article</a><br />
			<a href="http://vocaloid.wikia.com/wiki/Vocaloid_Wiki" title="">Vocaloid wiki</a><br />
			<br />
			<a href="http://deliciouscakeproject.wordpress.com/2010/09/20/hatsune-miku-and-the-magic-of-make-believe/" title="">Delicious Cake Project</a><br />
		<h4 id="vocaloiddescription">Short description</h4>
			<p>Vocaloid is a unique subculture of user-created content (music, illustrations, videos, software, games, cosplay, events), based on voice synthesizers and their mascots.</p>
			<p>Vocaloid synthesizer software is a digital musical instrument to create human vocals, allowing anyone to have their personal virtual singer.</p>
			<p>The first Vocaloid "singers" Leon and Lola were released in 2004 in english language, but weren't successful. Vocaloid technology became popular in 2007 in Japan with the japanese voicebank "Hatsune Miku" (first V2 in Japan, second V2 in world after Sweet Ann).</p>
			<p>Being a great and fresh combination of a decent V2 voicebank and a snazzy boxart illustration, Hatsune Miku gained unexpected, unprecedented and massive success and became the symbol of all Vocaloid technology and subculture.</p>
		<h4 id="whyjapan">Why in Japan?</h4>
			<ul type="circle">
				<li>The simplest language for synthesis in the world: japanese has syllable-based phonetics, no accents and no rhyme concept in poetry</li>
				<li>Popular anime style (moe catalyst)</li>
				<li>A lot of <a href="http://en.wikipedia.org/wiki/D%C5%8Djin" title="">dōjin</a> (self-published) activity</li>
				<li>Traditional high-pitched female vocal</li>
				<li>Diverse and active musical scene, a lot of indie musicians</li>
				<li>Pop-idols and virtual pop-star concepts in anime (Sharon Apple in "Macross Plus", 1994)</li>
			</ul>
			<p>Japan happened to be the best country for a popularity breakthrough of the Vocaloid technology.</p>
		<h4 id="vocaloidfeatures">Features of Vocaloid</h4>
			<ul type="circle">
				<li>Vocaloid synthesizer software is treated as a musical instrument, so is free to use for any purpose.</li>
				<li>Piapro license initiative from Crypton Future Media permits the non-commercial usage of mascot images.</li>
				<li>Decentralization. Noone commands the community what and how to do. All content (music, videos, illustrations) is created by users themselves for their own purposes (fun, self-expression, selling).</li>
				<li>Collaboration of song writers, musicians, illustrators, animators and programmers.</li>
				<li>Self-promotion of Vocaloids and producers. Basically, the community choose Miku and made her popular (same with GUMI).</li>
				<li>Sharing of music and support principles. Most of Vocaloid music and videos are freely available on NND, Piapro and YouTube, still we support producers by buying their albums. It is possible for and being done by people who live outside Japan, too. Musical instruments, hardware, software and learning cost a lot, and producers are mostly indie musicians, so every sold cd is important for them. If you really like the music that was done by a Vocaloid producer, please support him.</li>
				<li>Concerts.</li>
			</ul>
		<h4 id="vocaloidpv">PV</h4>
			<p>Promotional Videos are being used to attract listeners to Vocaloid songs, becoming part of the songs, the form of art by itself and a part of Vocaloid subculture.</p>
			<p>Japanese flash video streaming service <a href="http://www.nicovideo.jp/">Nico Nico Douga</a> (shortly NND) greatly helped in popularization of Vocaloid in Japan and is used for uploading new japanese Vocaloid songs and videos, live streaming of concerts, presentations and other events.</p>
		<h4 id="ytnndsoundquality">Sound quality of videos on YouTube and Nico Nico Douga</h4>
			<p>NND videos have various sound quality - from MP3 CBR 64 kbps in "economy" mode to AAC VBR ~370 kpbs, but generally it is higher than on YouTube, that has AAC VBR ~128 kbps in most videos (same for all video resolutions).</p>
		<h4 id="vocaloidmmd">MMD</h4>
			<p>MikuMikuDance is a free, popular and powerful 3D animation software, made by MasatakaP for Vocaloid Promotional Videos.</p>
			<p>MMD is a part of success of Hatsune Miku and is also a subculture itself, having MMD Cup championships and being used to produce animation for memes, Touhou, IDOLM@STER etc.</p>
		<h4 id="vocaloidp">Producer</h4>
			<a href="http://vocaloid.wikia.com/wiki/Category:Producer" title="">Desctription on Vocaloid Wiki</a>
			<p>"Producer" is the term used for any person that produces Vocaloid-related audiovisual material, generally original music or fanmade PVs.</p>
		<h4 id="vocaloidcircle">Circles and Labels</h4>
			<p><a href="http://en.wikipedia.org/wiki/D%C5%8Djin" title="">Dōjinshi circle</a> is a group of authors of self-published works that may act as a label for dōjin events (Comiket or Vocaloid M@ster).</p>
			<p><a href="http://en.wikipedia.org/wiki/Record_label" title="">Record label</a> is a company that provides professional studio services (instruments, recording, mastering), production of CD's, various promotion and copyright protection. The most well known Vocaloid label is <a href="http://www.karent.jp/">KarenT</a>, created by Crypton Future Media.</p>
	</div>
	
	<div id="guidelines">
		<h4>How can I add new producers, albums and songs?</h4>
			<p>Register and use links in main navigation panel or buttons in producer, album and song list pages.</p>

		<h4 id="glmain">Main principles</h4>
			<ul>
				<li>Avoid submitting entries that already exist in the database. Duplicates have to be deleted or merged by the staff.</li>
				<li>This is a database for Vocaloid-related content. UTAU and Vocaloid-related collaborations are accepted, but totally unrelated content will be deleted.</li>
				<li>One name per field (no composite names of songs or producers)</li>
				<li>Download links to file-sharing sites that provide no useful information (like Mediafire/Megaupload/Torrents) are NOT allowed. Links to informative blogs/forums/wikis (like MikuDB/Miku;Zen) are allowed.</li>
			</ul>

		<h4>Names and translations</h4>
		<p>
			All names should primarily be written in the original language, which usually means Japanese, but it can also be for example English or Korean. 
			If the original language is English, the name should be written to the English language field, otherwise it's written to the "Original" (non-English) language field.
			If those names have commonly used romanizations or English translations, those can be entered as well to make it easier for the international audience to find
			and understand those names. 
			Multiple names can be specified for each language option, in which case the first name will be used as the primary display name for that language.
		</p>
		<p>
			Registered users can set their display language, so that they will always see the names in that language, if available.
			Unregistered users and users who haven't set their display language will see the default names. Usually the default name is the name in
			the non-English language, but that can be changed on per-entry basis.
			For example, if the non-English name of an artist is ナナホシ, the romanized name is nanahoshi and the default language option is "Original", then by default users will see ナナホシ unless they have chosen to prefer romanized names instead.
		</p>
		<p>Usually there is no need to add composite names, and those names should broken into separate fields.</p>
		<p><input type="text" class="incorrect-example-input"value="cosMo@Bousou-P(暴走P)" size="23" readonly="readonly" /> is incorrect: every field should contain only one name.</p>

		<h5>Name languages</h5>
		<ul>
			<li>"Original" is for names in producer's native language when it's not English (Japanese, Spanish, Korean etc).</li>
			<li>"Romanized" is for English transcription of original name (how is it pronounced in English. For Japanese names that's Romaji).</li>
			<li>"English" is for official names in English and known translations.</li>
			<li>"Unspecified" language should not be used, as it's only for cases when the language hasn't been specified yet (for example if the entry has been imported from another system).</li>
		</ul>

		<h4>Draft entries</h4>
		<p>
			Entries that are marked as drafts have missing or incomplete information. The draft status is indicated on the entry's page. 
			All entries should meet certain requirements before they can be marked as completed. For now these requirements are only suggestions, but 
			in the future they may be enforced more strictly. Of course when editing an entry that meets these requirements,
			you can still mark it as draft if you feel that the entry needs further attention.
			Note: draft status is currently available only for albums, but will be added to artists and songs as well.
		</p>

		<h4 id="glproducers">Producers</h4>
		<h4 id="glartisttypes">Artist types</h4>
			<ul>
				<li>"Producer" - default type for composer.</li>
				<li>"Circle" - group that sells albums only at doujin events (Comiket or Vocaloid Master).</li>
				<li>"Other group" - group that releases albums via Labels.</li>
				<li>"Other vocalist" - human singers (NND vocalists).</li>
			</ul>

		<h5>Completed artist entries should meet the following criteria:</h5>
		<ul>
			<li>The artist has at least one name whose language option isn't "Unspecified".</li>
			<li>Artist type isn't "Unspecified".</li>
		</ul>

		<h4 id="glalbums">Albums</h4>
			<p>To assign producers and vocalists to songs in album, add artists to album first and then click on each added song in song list to show a quick selection dialog.</p>
			<p>Every album should be related to Vocaloid music by meeting one of following conditions:</p>
			<ul>
				<li>being done by a producer that created Vocaloid albums before</li>
				<li>having at least one song with synthesized vocal</li>
				<li>having at least one cover of an originally Vocaloid song</li>
			</ul>
			<p>Totally unrelated albums may be deleted from VocaDB.</p>

		<h5>Completed album entries should meet the following criteria:</h5>
		<ul>
			<li>The album has at least one name whose language option isn't "Unspecified".</li>
			<li>The album has at least one artist (usually there should be at least one producer and one vocalist).</li>
			<li>Album type isn't "Unspecified". Try to find the correct type.</li>
			<li>The album has a tracklist.</li>
		</ul>

		<h4 id="glsongs">Songs</h4>
			<p>Song entries contain information about authors and vocalists (see "Artists" tab), PVs and lyrics.</p>
			<p><input type="text" class="incorrect-example-input" value="『ミク×リン×レン』 ReAct 『オリジナル曲PV』" size="40" readonly="readonly" /> is incorrect: all additional info (vocalists, authors, PV) should be added to appropriate fields. A song title should contain nothing more than the name itself.</p>
			
		<h5 id="glpv">PV types</h5>
		<ul>
			<li>"Original" - the first video with that song, usually uploaded by author himself (may lack any animation).</li>
			<li>"Reprint" - should be identical to "Original"; most often it's a YouTube reprint of original NND video.</li>
			<li>"Other" - any following PV with animation, MMD versions etc. May be much better known than original one.</li>
		</ul>

		<h5>Completed song entries should meet the following criteria:</h5>
		<ul>
			<li>The song has at least one name whose language option isn't "Unspecified".</li>
			<li>The song has at least one artist (usually there should be at least one producer and one vocalist).</li>
			<li>Song type isn't "Unspecified".</li>
		</ul>
		
	</div>
</div>

<script type="text/javascript">

	function aboutvocadb()   { $("#tabs").tabs('select', 0); }
	function aboutvocaloid() { $("#tabs").tabs('select', 1); }
	function guidelines()    { $("#tabs").tabs('select', 2); }

	$(function () {
		var tabs = $("#tabs").tabs();

		var hsh = window.location.search;
		var done = false;


		if (hsh.length > 3 && (hsh.indexOf("+") > 1)) {
			// 4 minimum chars in search str are "?a+b"
			var hsh_arr = hsh.substr(1).split('+', 2);
			
			if (hsh_arr[1].length > 0) {
				switch (hsh_arr[0]) {
					case 'vocadb':     aboutvocadb(); break;
					case 'vocaloid':   aboutvocaloid(); break;
					case 'guidelines': guidelines(); break;
					default: break;
				}

				document.getElementById(hsh_arr[1]).scrollIntoView(); // TODO: check & highlight
			}
		}
	});

</script>