@using VocaDb.Web.Helpers;
@model VocaDb.Web.Models.AlbumForUserEditModel[]

<table>
	<tbody id="albumTableBody">
		@foreach (var album in Model) {
			Html.RenderPartial("AlbumForUserSettingsRow", album);
		}
	</tbody>
</table>
		
<h4>Add album</h4>
@Helpers.EntrySearchBox("albumAdd", false)
<br />
<a href="#" id="albumAddAcceptBtn" class="textLink addLink">Add</a>
