@model VocaDb.Model.DataContracts.Users.AlbumForUserContract

<tr id="@("albumRow_" + Model.Id)">
	<td>@Html.ActionLink(Model.Album.Name, "Edit", "Album", new { id = Model.Album.Id }, null)</td>
	<td>
		<input type="button" class="albumRemove" id="@("albumRemove_" + Model.Id)" value="Remove" />
	</td>
</tr>
