@using VocaDb.Model.DataContracts.Security;
@{
	ViewBag.Title = "Users";
}

<table>
	<tr>
		<th>Name</th>
		<th>Created</th>
	</tr>
@foreach (UserContract user in ViewBag.Users) {
	<tr>
		<td>
			@user.Name
		</td>
		<td>
			@user.CreateDate
		</td>
	</tr>
}
</table>