@using VocaDb.Model.DataContracts.Users;
@using VocaDb.Web.Helpers;
@{
	ViewBag.Title = "Users";
}

<table>
	<tr>
		<th>Name</th>
		<th>Created</th>
		<th>Group</th>
		<th></th>
	</tr>
@foreach (UserContract user in ViewBag.Users) {
	<tr>
		<td>
			@Html.ActionLink(user.Name, "Details", new { id = user.Id })
		</td>
		<td>
			@user.CreateDate
		</td>
		<td>
			@Translate.UserGroups[user.GroupId]
		</td>
		<td>
			@if (Login.Manager.HasPermission(VocaDb.Model.Domain.Security.PermissionFlags.ManageUsers)) {
				<text>&nbsp;</text>
				@Html.ActionLink("Edit", "Edit", new { id = user.Id });	
			}
		</td>
	</tr>
}
</table>