@model VocaDb.Web.Models.AddNewLinkRowModel

<div id="@(Model.Prefix + "Row_new")">
	<input type="text" maxlength="128" id="@(Model.Prefix + "AddName")" /><br />
	<select id="@(Model.Prefix + "AddList")" size="5" /><br />
	<input type="button" id="@(Model.Prefix + "AddBtn")" value="Add" />
</div>