@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.CommentContract[]

@if (Login.CanManageDb) {
<div id="newCommentPanel">
	<h3>@ViewRes.DiscussionContentStrings.NewComment</h3>
	@Html.TextArea("newCommentMessage", string.Empty, 6, 60, new { id = "newCommentMessage", maxlength = 800, @class = "span5" })
	<a href="#" class="textLink addLink" id="createComment">@ViewRes.DiscussionContentStrings.AddComment</a>
	<hr />
</div>
}

@foreach (var comment in Model) {
	Html.RenderPartial("Comment", comment);
}