@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.Songs.SongListsByCategoryContract[]

@{
    ViewBag.Title = ViewRes.SharedStrings.FeaturedSongLists;
}

<div id="tabs">
	<ul>
@foreach (var cat in Model) {
		<li><a href="@("#" + cat.Category + "Tab")">@Translate.SongListFeaturedCategoryNames[cat.Category]</a></li>
}
	</ul>	

@foreach (var cat in Model) {
	<div id="@(cat.Category + "Tab")" style="padding:10px;">

		@SongHelpers.SongLists(cat.Lists)

	</div>
}

</div>

@section BodyScripts {
<script type="text/javascript">
	$(document).ready(function() {
		$("#tabs").tabs();
	});
</script>
}