
<div data-bind="visible: showAnythingSearch, with: anythingSearchViewModel, css: { loading: anythingSearchViewModel.loading }">

	<p class="pull-right">
		Total entries:
		<span data-bind="text: paging.totalItems"></span>
	</p>

	<div data-bind="with: paging">
		@KnockoutHelpers.ServerSidePaging()
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th colspan="2">
					Name
				</th>
				<th>
					Type
				</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: page">
			<tr>
				<td>
					<a data-bind="visible: $data.mainPicture, attr: { href: $parent.entryUrl($data), title: additionalNames }" href="#" class="coverPicThumb">
						<img data-bind="attr: { src: ($data.mainPicture ? mainPicture.urlTinyThumb : '') }" title="Cover picture" class="coverPicThumb" />
					</a>
				</td>
				<td>
					<a data-bind="text: localizedName, attr: { href: $parent.entryUrl($data), title: additionalNames }" href="#"></a>
					&nbsp;
					<span data-bind="artistTypeLabel: $data.artistType"></span>
					<span data-bind="songTypeLabel: $data.songType"></span>
					<!-- ko if: $data.artistString -->
					<br />
					<small class="extraInfo" data-bind="text: artistString"></small>
					<!-- /ko -->
				</td>
				<td>
					<a data-bind="text: entryType, click: function() { $parent.searchViewModel.searchType(entryType); }" href="#"></a>
					<!-- ko if: $data.artistType -->
					<small class="extraInfo" data-bind="text: '(' + $parent.searchViewModel.resources.artistTypeNames[artistType] + ')'"></small>
					<!-- /ko -->
					<!-- ko if: $data.discType -->
					<small class="extraInfo" data-bind="text: '(' + $parent.searchViewModel.resources.discTypeNames[discType] + ')'"></small>
					<!-- /ko -->
					<!-- ko if: $data.songType -->
					<small class="extraInfo" data-bind="text: '(' + $parent.searchViewModel.resources.songTypeNames[songType] + ')'"></small>
					<!-- /ko -->
				</td>
			</tr>
		</tbody>
	</table>

	<div data-bind="with: paging">
		@KnockoutHelpers.ServerSidePaging()
	</div>

</div>


