
<div data-bind="visible: showArtistSearch, with: artistSearchViewModel, css: { loading: artistSearchViewModel.loading }">

	<h3 data-bind="visible: $parent.isUniversalSearch">Artists</h3>

	<p class="pull-right">
		Total entries:
		<span data-bind="text: paging.totalItems"></span>
	</p>

	<div data-bind="with: paging">
		@KnockoutHelpers.ServerSidePaging()
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th colspan="2">
					<a data-bind="click: function() { sort('Name') }" href="#">
						Name
						<span class="sortDirection_down" data-bind="visible: sort() == 'Name'"></span>
					</a>
				</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: page">
			<tr>
				<td>
					<a data-bind="visible: $data.mainPicture, attr: { href: vdb.utils.EntryUrlMapper.details('Artist', id), title: additionalNames }" href="#" class="coverPicThumb">
						<img data-bind="attr: { src: ($data.mainPicture ? mainPicture.urlTinyThumb : '') }" title="Cover picture" class="coverPicThumb" />
					</a>
				</td>
				<td>
					<a data-bind="text: localizedName, attr: { href: vdb.utils.EntryUrlMapper.details('Artist', id) }" href="#"></a>
					&nbsp;
					<span data-bind="artistTypeLabel: artistType"></span>
					<br />
					<small class="extraInfo" data-bind="text: additionalNames"></small>
				</td>
			</tr>
		</tbody>
	</table>

	<div data-bind="with: paging">
		@KnockoutHelpers.ServerSidePaging()
	</div>

</div>

