@model VocaDb.Model.DataContracts.Tags.TagDetailsContract

@{
    ViewBag.Title = "Tag details - " + Model.Name;
	ViewBag.Parents = new[] { Html.ActionLink("Tags", "Index") };	
}

<h2>Artists</h2>

<ul>
	@foreach (var usage in Model.Artists) {
		<li>@Html.ActionLink(usage.Artist.Name + " (" + usage.Count + ")", "Details", "Artist", new { id = usage.Artist.Id }, null)</li>
	}
</ul>

<h2>Albums</h2>

<ul>
	@foreach (var usage in Model.Albums) {
		<li>@Html.ActionLink(usage.Album.Name + " (" + usage.Count + ")", "Details", "Album", new { id = usage.Album.Id }, null)</li>
	}
</ul>

<h2>Songs</h2>

<ul>
	@foreach (var usage in Model.Songs) {
		<li>@Html.ActionLink(usage.Song.Name + " (" + usage.Count + ")", "Details", "Song", new { id = usage.Song.Id }, null)</li>
	}
</ul>
