@{
	ViewBag.Title = "403 - Forbidden";
	ViewBag.Subtitle = "Sorry, you don't have access to this page/resource";
}

<p>
	@Html.ActionLink("Click here to go to the front page", "Index", "Home")	
</p>
