@{
	ViewBag.Title = "Not found";
	Layout = "_Layout.cshtml";
}

<h2>404 - Not found.</h2>

<iframe width="560" height="315" src="http://www.youtube.com/embed/4EAhAihbCyY" frameborder="0" wmode="Opaque" allowfullscreen></iframe>

<p>
	@Html.ActionLink("Click here to go to the front page", "Index", "Home")	
</p>
