.acceptLink	{ background-image: url(../Icons/accept.png); }
.addLink	{ background-image: url(../Icons/add.png); }
.deleteLink	{ background-image: url(../Icons/delete.png); }
.editLink	{ background-image: url(../Icons/edit.png); }
.removeLink	{ background-image: url(../Icons/remove.png); }
.searchLink	{ background-image: url(../Icons/search.png); }