.acceptLink, .acceptIcon { background-image: url(../Icons/accept.png); }
.asteriskIcon { background-image: url(../Icons/asterisk_yellow.png); }
.addLink	{ background-image: url(../Icons/add.png); }
.deleteLink	{ background-image: url(../Icons/delete.png); }
.draftIcon	{ background-image: url(../draft.png); }
.editLink	{ background-image: url(../Icons/edit.png); }
.helpLink, .helpIcon { background-image: url(../Icons/help.png); }
.removeLink	{ background-image: url(../Icons/remove.png); }
.searchLink	{ background-image: url(../Icons/search.png); }
.tickLink, .tickIcon { background-image: url(../Icons/tick.png); }

span.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
}

span.helpIcon {
	display: inline-block;
	width: 16px; 
	height: 16px;
	cursor: help;
}